# colcon / ROS 2
build/
install/
log/
.colcon*/
**/build/
**/install/
**/log/

# Python cache
__pycache__/
*.pyc

# IDE/editor
.vscode/
.idea/

# Logs / build / ROS2
Ogre.log
build/
install/
log/
.colcon*
