<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="kr20_kr120_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="kr20_base_link__link1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr20_base_link__link1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr20_link1__link2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr20_link1__link2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr20_link2__link3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr20_link2__link3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr20_link3__link4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr20_link3__link4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr20_link4__link5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr20_link4__link5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr20_link5__flange">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr20_link5__flange']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr120_base_link__link1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr120_base_link__link1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr120_link1__link2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr120_link1__link2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr120_link2__link3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr120_link2__link3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr120_link3__link4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr120_link3__link4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr120_link4__link5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr120_link4__link5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr120_link5__flange">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr120_link5__flange']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr20_fixed_slide_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr20_fixed_slide_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr120_pinza_left_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr120_pinza_left_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr120_gyro_left_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr120_gyro_left_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr120_pinza_right_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr120_pinza_right_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="kr120_gyro_right_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['kr120_gyro_right_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
